body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  height: 10vh;
}

main{
  background-color: #5bebcf;
  height: 90vh;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;

  width: 500px;
  height: 500px;
}

.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.square100{
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.square81{
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.square49{
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.clicked{
  background-color: rgb(72, 141, 141);
  color: white;
}

.bomb{
  background-color: brown;
  color: white;
}